.background {
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(2px);

	.wrapper {
		background-color: var(--c-primary);
		border: 2px solid var(--c-secondary);
		border-radius: 0.75rem;
		padding: 1.5rem 1rem;
		width: 20rem;
		color: var(--c-dark);
		position: relative;
		overflow: hidden;
		margin: 0 1rem;

		.loading-container {
			position: absolute;
			inset: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: var(--c-primary);
		}

		h1 {
			text-align: center;
			padding-bottom: 1rem;
		}

		.g {
			.title {
				font-weight: 600;
				width: 4rem;
				display: inline-block;
			}
			font-size: 1.5rem;
			padding-bottom: 0.25rem;
		}

		.test-credentials {
			border: 1px solid var(--c-dark);
			border-radius: 0.5rem;
			padding: 0.5rem;
			background-color: rgb(213, 212, 212);

			h2 {
				font-size: 1.5rem;
			}
			.group {
				display: flex;
				align-items: center;
			}
			.t {
				font-size: 1.25rem;
				padding-bottom: 0;
				width: 3.5rem;
				font-weight: 500;
			}
			.v {
				font-size: 1rem;
			}
		}

		button {
			display: block;
			color: var(--c-primary);
			background-color: var(--c-secondary);
			padding: 0.75rem 1.25rem;
			cursor: pointer;
			border-radius: 0.5rem;
			font-weight: 500;
			margin-top: 1rem;
			margin-left: auto;
			margin-right: auto;
			font-size: 1.5rem;
		}
	}
}

@media (width <= 800px) {
	.background {
		.wrapper {
			width: 18rem;
			h1 {
				font-size: 1.75rem;
			}

			div {
				padding-bottom: 0;
				.title {
					font-size: 1.5rem;
					width: 4rem;
				}
				.value {
					font-size: 1.25rem;
				}
			}

			button {
				font-size: 1rem;
			}
		}
	}
}
