.book-game-page {
	display: flex;
	flex-direction: column;
	height: 100dvh;

	.book-game {
		flex-grow: 1;
		display: grid;
		min-height: 0;
		grid-template-columns: 2fr 1fr;
		padding: 2rem 5rem;
		font-family: "Inter";
		gap: 1rem;

		.available-booking {
			display: flex;
			flex-direction: column;
			border: 1px solid var(--c-gray);
			border-radius: 1rem;
			padding: 1rem;
			min-height: 0;

			.dates-container {
				display: grid;
				grid-template-columns: repeat(7, 1fr);
				gap: 1rem;
			}

			.slots-container {
				flex-grow: 1;
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				gap: 0.5rem;
				overflow: auto;
				margin-top: 1rem;
			}
		}

		.my-bookings {
			display: flex;
			flex-direction: column;
			border: 1px solid var(--c-gray);
			border-radius: 1rem;
			padding: 1rem;
			min-height: 0;

			h2 {
				padding-bottom: 1rem;
			}

			.booked-cards-wrapper {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
				overflow: auto;
			}

			.no-bookings {
				flex-grow: 1;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}
