.book-game-page {
	display: flex;
	flex-direction: column;
	height: 100dvh;
	.book-game {
		flex-grow: 1;
		display: grid;
		grid-template-columns: 2fr 1fr;
		padding: 2rem 5rem;
		font-family: "Inter";
		gap: 1rem;

		.available-booking {
			display: flex;
			flex-direction: column;
			border: 1px solid var(--c-gray);
			border-radius: 1rem;
			padding: 1rem;

			.cards-container {
				flex-grow: 1;
				display: grid;
				grid-template-rows: repeat(7, 1fr);
			}
		}

		.my-bookings {
			display: flex;
			flex-direction: column;
			border: 1px solid var(--c-gray);
			border-radius: 1rem;
			padding: 1rem;

			.no-bookings {
				flex-grow: 1;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}
