.book-game-page {
	display: flex;
	flex-direction: column;
	height: 100dvh;

	.book-game {
		flex-grow: 1;
		display: grid;
		min-height: 0;
		grid-template-columns: 2fr 1fr;
		padding: 2rem clamp(1rem, -1.75rem + 11vw, 3.75rem);
		font-family: "Inter";
		gap: 1rem;
		max-width: 1450px;
		width: 100%;
		margin: 0 auto;
		min-width: 0;

		.available-booking {
			display: flex;
			flex-direction: column;
			border: 1px solid var(--c-gray);
			border-radius: 1rem;
			padding: 1rem;
			min-width: 0;

			.dates-container {
				display: flex;
				gap: 1rem;
				overflow-x: auto;
				min-width: 0;
			}

			.dates-container::-webkit-scrollbar {
				display: none;
			}

			.slots-container {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				gap: 1rem;
				overflow: auto;
				margin-top: 1rem;
				min-width: 0;
			}

			.slots-container::-webkit-scrollbar {
				display: none;
			}
		}

		.my-bookings {
			display: flex;
			flex-direction: column;
			border: 1px solid var(--c-gray);
			border-radius: 1rem;
			padding: 1rem;
			min-height: 0;

			h2 {
				color: var(--c-dark);
				font-size: 1.75rem;
				font-weight: 600;
			}

			.line {
				border: 1px solid rgb(159, 158, 158);
				margin: 0.75rem 0rem;
			}

			.booked-cards-wrapper {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
				overflow: auto;
				color: var(--c-dark);
			}

			.no-bookings {
				flex-grow: 1;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

@media (width <= 1200px) {
	.book-game-page {
		height: auto;

		.book-game {
			display: flex;
			flex-direction: column;
		}
	}
}

@media (width <= 800px) {
	.book-game-page {
		.book-game {
			.available-booking {
				padding: 0;
				border: none;

				.slots-container {
					grid-template-columns: repeat(2, 1fr);
					gap: 0.5rem;
				}
			}
		}
	}
}
