.booked-card {
	border: 1px solid rgb(149, 149, 149);
	border-radius: 1rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;

	h3 {
		display: flex;
		align-items: center;
		gap: 0.25rem;
		font-weight: 500;
		margin-bottom: 0.25rem;
		font-size: 1.5rem;
	}
	span {
		display: flex;
		align-items: center;
		gap: 0.25rem;
	}
}
