.home-page {
	background-color: var(--color-background);

	.hero {
		width: 100%;
		height: 100dvh;
		position: relative;
		font-family: "Alegreya Sans", sans-serif;
		font-weight: 800;

		.img {
			width: 100%;
			height: 100%;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(
					to top right,
					rgba(63, 42, 86, 0.7) 0%,
					rgba(0, 0, 0, 0) 60%
				);
			}
		}
		.text-container {
			position: absolute;
			left: 0;
			bottom: 0;
			color: var(--color-hero-text);
			padding: 3rem;

			h1 {
				font-size: 4.5rem;
				line-height: 4.5rem;
				letter-spacing: -1px;
			}
			p {
				font-family: "Inter", sans-serif;
				font-weight: normal;
				width: 35rem;
				margin-bottom: 1.75rem;
			}
			a {
				color: var(--color-hero-button-text);
				background-color: var(--color-hero-button);
				padding: 1rem 3.5rem;
				font-size: 2rem;
				border-radius: 0.25rem;
				cursor: pointer;
			}
		}
	}

	.quick-stats {
		height: 150px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		font-family: "Inter";

		h3 {
			font-size: 3rem;
			color: var(--c-secondary);
		}

		p {
			text-align: center;
			color: var(--c-gray);
		}
	}

	.quick-info {
		display: flex;
		gap: 2rem;
		align-items: center;
		height: 500px;
		padding: 3rem 3rem;

		.info {
			flex-grow: 1;
			display: grid;
			grid-template-rows: 1fr 1fr;
			grid-template-columns: 1fr 1fr;
			height: 100%;
			gap: 1.5rem;

			.text-group {
				background-color: var(--c-white);
				padding: 2rem;
				border-radius: 1rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 0.75rem;
				box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.08);
				font-family: "Inter";
				border: 1px solid var(--c-gray);

				h3 {
					color: var(--c-secondary);
					display: flex;
					align-items: center;
					gap: 0.5rem;
					font-size: 1.25rem;
				}

				p {
					font-size: 1.25rem;
					color: var(--c-secondary);
				}
			}
		}

		.info:nth-child(1) {
			grid-area: time;
		}
		.info:nth-child(2) {
			grid-area: location;
		}
		.info:nth-child(3) {
			grid-area: pricing;
		}
		.info:nth-child(4) {
			grid-area: contact;
		}

		.wrapper {
			flex-grow: 1;
			height: 100%;
			overflow: hidden;
			display: flex;
			align-items: center;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 1rem;
			}
		}
	}
}
