.home-page {
	background-color: var(--color-background);

	.hero-section {
		width: 100%;
		height: 100dvh;
		position: relative;
		font-family: "Alegreya Sans", sans-serif;
		font-weight: 800;

		.img {
			width: 100%;
			height: 100%;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(
					to top right,
					rgba(63, 42, 86, 0.7) 0%,
					/* Your secondary purple at 70% opacity */ rgba(0, 0, 0, 0) 60%
				);
			}
		}
		.text-container {
			position: absolute;
			left: 0;
			bottom: 0;
			color: var(--color-hero-text);
			padding: 3rem;

			h1 {
				font-size: 4.5rem;
				line-height: 4.5rem;
				/* text-shadow: 1.5px 1.5px 5px black; */
				letter-spacing: -1px;
			}
			p {
				font-family: "Inter", sans-serif;
				font-weight: normal;
				width: 35rem;
				margin-bottom: 1.75rem;
				/* text-shadow: 0.75px 0.75px 3px black; */
			}
			button {
				color: var(--color-hero-button-text);
				background-color: var(--color-hero-button);
				padding: 1rem 3.5rem;
				font-size: 2rem;
				border-radius: 0.25rem;
				cursor: pointer;
			}
		}
	}
}
