.slot {
	border: 2px solid var(--c-secondary);
	color: var(--c-secondary);
	white-space: nowrap;
	padding: 1rem 0.75rem;
	border-radius: 0.5rem;
	cursor: pointer;
	text-align: center;
	font-size: 1.25rem;
	font-weight: 500;
	transition: all 0.2s ease-in;
}

.slot:hover {
	background-color: var(--c-secondary);
	color: var(--c-primary);
}

.slot.unavailable {
	color: var(--c-gray);
	border-color: var(--c-gray);
	cursor: not-allowed;
}

.slot.unavailable:hover {
	background-color: transparent;
}
