.loading {
	position: fixed;
	height: 100dvh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--c-primary);

	.loading-spinner {
		font-size: 3rem;
	}
}
