@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
button {
	all: unset;
}
a {
	text-decoration: none;
}

/* Colors */
:root {
	--c-primary: #f5f5f5;
	--c-secondary: #3f2a56;
	--c-accent: #78ffd6;
	--c-white: white;
	--c-gray: gray;

	--color-background: var(--c-primary);
	--color-navbar-text: var(--c-white);
	--color-navbar-text-hover: var(--c-accent);
	--color-hero-text: var(--c-white);
	--color-hero-button: var(--c-accent);
	--color-hero-button-text: var(--c-secondary);
}
