.card {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	overflow: hidden;

	.available-times {
		display: flex;
		gap: 1rem;

		.time {
			background-color: green;
			white-space: nowrap;
		}
	}
}
